.mainHeader {
    background-image: url("http://startupmanifesto.eu/img/map3.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-color: #064A8B;
    height: 550px;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: 100px;
    position: absolute;
}
.navItem {
    position: relative;
    margin-right: 25px;
    padding-top: 10px;
    font-size: 15px;
}

.bluebg {
    @extend .navItem;
    background-color: #063c70;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-right: 75px;
}

.navBar a {
    color: #fff;
}

.headerTxt {
    width: 50%;
    text-align: center;
    color: white;
    position: absolute;
    top: 150px;
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 18px;
    }
    a {
        color: white;
        text-decoration: underline;
        cursor: pointer;
    }
}
.headerTxtSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
}
.button {
    width: 180px;
    background-color: white;
    color: $mainColor;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    position: relative;
    top: 50px;
}
.buttonDiv {
    display: flex;
    justify-content: center;
}