.signLeft {
    margin: 0;
    height: 100%;
    vertical-align: text-bottom;
    padding: 50px 50px 10px 50px;
    h2 {
        font-size: 18px;
    }
}

.signRight {
    background-color: lightgray;
    color: $mainColor;
    padding: 50px 100px 25px 100px;
    font-size: 18px;
    border-left: $frameborder;
    span {
        text-decoration: none;
        border-bottom: 3px solid $contrastColor;
    }
}

.signRightStatus {
    background-color: white;
    color: $mainColor;
    padding: 50px 100px 25px 100px;
    font-size: 18px;
    border-left: $frameborder;
    border-top: $frameborder;
    span {
        text-decoration: none;
        border-bottom: 3px solid $contrastColor;
    }
    .large {
        font-size: 58px;
    }
    a {
        color: $contrastColor;
        text-decoration: underline;
    }
}

.facebook {
    background-color: #3b5998;
    margin: 0px;
    height: 95px;
    font-size: 22px;
    a {
        position: relative;
        top: 15px;
        left: 15px;
        color: white;
        text-decoration: none;
    }
}

.twitter {
    background-color: #4999ff;
    margin: 0px 0px 0px 15px;
    height: 95px;
    font-size: 22px;
    border-left: $frameborder;
    border-bottom: $frameborder;
    
    a {
        position: relative;
        top: 15px;
        left: 15px;
        color: white;
        text-decoration: none;
    }
}

.email {
    font-size: 22px;
    border-left: $frameborder;
    border-top: $frameborder;
    border-bottom: $frameborder;
    height: 75px;
    margin: 0px 0px 0px 15px;
    a {
        position: relative;
        top: 15px;
        left: 15px;
        text-decoration: none;
        top: 15px;
        left: 15px;
    }
}

.icon {
    font-family: ModernPictograms;
}
